.DeleteConfirmationArea{
    width: inherit;
    height: inherit;
    position: fixed;
    background-color: #4d4646;
    border-radius: inherit;
    z-index: 2;
}

.DeleteConfirmationArea-text{
    width: fit-content;
    margin: auto;
    padding-top: 7.5vh;
    font-family: 'walter_turncoatregular';
}

.DeleteConfirmation-Quote{
    padding-top: 7.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: Vollkorn;
    font-size: 7.5vh ;    
}

.DeleteConfirmation-ButtonsDiv{
    width: 100%;
    padding-top: 7.5vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.DeleteConfirmation-Button{
    border-radius: 12px;
    width: 10vw;
    height: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vh;
    text-align: center;
    border: solid 1px beige; 
}

.yes{
    background-color: transparent;
}
.yes:hover{
    background-color: #0000007b;
}

.no{
    background-color: transparent;
}

.no:hover{
    background-color: #0000007b;
}

@media (max-width: 480px) and (orientation:portrait){
 
    .DeleteConfirmationArea-text{
        width: 90%;
        text-align: center;
        padding-top: 3.5vh;
    }
    
    .DeleteConfirmation-Quote{
        padding-top: 3.5vh;
        width: 90%;
        height: 40%;
        overflow: auto;
        margin: auto;
        text-align: center;
        font-family: Vollkorn;
        font-size: 3vh;    
    }
    
    .DeleteConfirmation-ButtonsDiv{
        width: 100%;
        padding-top: 7.5vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    .DeleteConfirmation-Button{
        border-radius: 12px;
        width: 20vw;
        height: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 2vh;
        text-align: center;
        border: solid 1px beige; 
    }
    
    .yes{
        background-color: transparent;
    }
    .yes:hover{
        background-color: #0000007b;
    }
    
    .no{
        background-color: transparent;
    }
    
    .no:hover{
        background-color: #0000007b;
    }
        
}

@media (min-width: 481px) and (max-width: 1080px) {
 
    .DeleteConfirmationArea-text{
        width: 90%;
        text-align: center;
        padding-top: 3.5vh;
    }

    .DeleteConfirmation-Quote{
        padding-top: 3.5vh;
        width: 85%;
        height: 40%;
        word-wrap: break-word;
        overflow: auto;
        margin: auto;
        text-align: center;
        font-family: Vollkorn;
        font-size: 3vh;    
    }
    
    .DeleteConfirmation-ButtonsDiv{
        width: 100%;
        padding-top: 7.5vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    .DeleteConfirmation-Button{
        border-radius: 12px;
        width: 20vw;
        height: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 2vh;
        text-align: center;
        border: solid 1px beige; 
    }
    
    .yes{
        background-color: transparent;
    }
    .yes:hover{
        background-color: #0000007b;
    }
    
    .no{
        background-color: transparent;
    }
    
    .no:hover{
        background-color: #0000007b;
    }
        
}

@media (min-width: 1081px) {
 
    .DeleteConfirmationArea-text{
        width: 90%;
        text-align: center;
        padding-top: 5.5vh;
    }

    .DeleteConfirmation-Quote{
        padding-top: 3.5vh;
        width: 85%;
        height: 40%;
        word-wrap: break-word;
        overflow: auto;
        margin: auto;
        text-align: center;
        font-family: Vollkorn;
        font-size: 4vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */    
    }

    .DeleteConfirmation-Quote::-webkit-scrollbar{
        display: none;
    }
    
    .DeleteConfirmation-ButtonsDiv{
        width: 100%;
        padding-top: 7.5vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    .DeleteConfirmation-Button{
        border-radius: 12px;
        width: 20vw;
        height: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        padding-top: 2vh;
        text-align: center;
        border: solid 1px beige; 
    }
    
    .yes{
        background-color: transparent;
    }
    .yes:hover{
        background-color: #0000007b;
    }
    
    .no{
        background-color: transparent;
    }
    
    .no:hover{
        background-color: #0000007b;
    }
        
}