.EditQuote-Background{
    /* background-color: #1c1c1c; */
    background-color: #202020;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.EditQuote-BackArrow{
    width: 5vh;
    position:absolute;
    top: 8vh;
    left: 5vw;
    margin-right: auto;
}

@media (max-width:480) and (orientation:portrait){

    .EditQuote-BackArrow{
        width: 5vh;
        position:absolute;
        top: 8vh;
        left: 3vw;
        margin-right: auto;
    }
}