/* @font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vollkorn/v21/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGeHmmc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

.SearchPageQuoteCard-Card{
    width: 85%;
    height: 12vh;
    border: 2px solid #565656;
    border-radius: 16px;
    margin: auto;
    margin-top: 2vh;
}

.SearchPageQuoteCard-HoverView :hover{
    background-color: #4d4646;
}

.SearchPageQuoteCard-QuotesArea{
    width: 98vw;
    margin: auto;
    overflow: scroll;
    height: 66vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/*#BOOKMARK Disable Scrollbar from viewing but keep the functionality*/

.SearchPageQuoteCard-QuotesArea::-webkit-scrollbar{
    display: none;
}

.SearchPageQuoteCard-Quote{
    padding-top: 1vh;
    font-family: "Vollkorn", serif;
    font-size: 4vh;
    width: inherit;
    margin: auto;
    text-align: center;
    height: fit-content;
    max-height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SearchPageQuoteCard-Author{
    font-family: "Vollkorn", serif;
    font-size: 3vh;
    width: fit-content;
    margin-left: auto;
    margin-right: 10vw;
}

@media (max-width: 480px) and (orientation: portrait){

    .SearchPageQuoteCard-Card{
        height: 10vh;
    }

    .SearchPageQuoteCard-QuotesArea{
        width: 98vw;
        margin: auto;
        overflow: scroll;
        height: 62vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }   

    .SearchPageQuoteCard-Quote{
        font-size: 2vh;
        text-align: center;
        height: fit-content;
        max-height: 50%;
        padding-top: 2vh;
    }

    .SearchPageQuoteCard-Author{
        font-family: "Vollkorn", serif;
        font-size: 2vh;
        width: fit-content;
        max-height: 40%;
        margin-left: auto;
        margin-right: 10vw;
    }
    
}

@media (max-width: 480px) and (orientation: landscape){

    .SearchPageQuoteCard-Card{
        height: 15vh;
    }

    .SearchPageQuoteCard-QuotesArea{
        width: 98vw;
        margin: auto;
        overflow: scroll;
        height: 56vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }   

    .SearchPageQuoteCard-Quote{
        font-size: 4vh;
        text-align: center;
        height: fit-content;
        max-height: 50%;
        padding-top: 2vh;
    }

    .SearchPageQuoteCard-Author{
        font-family: "Vollkorn", serif;
        font-size: 3.5vh;
        width: fit-content;
        max-height: 40%;
        margin-left: auto;
        margin-right: 10vw;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait){

    .SearchPageQuoteCard-Card{
        height: 12vh;
    }

    .SearchPageQuoteCard-QuotesArea{
        width: 98vw;
        margin: auto;
        overflow: scroll;
        height: 70vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }   

    .SearchPageQuoteCard-Quote{
        font-size: 3vh;
        text-align: center;
        min-height: 30%;
        height: fit-content;
        max-height: 50%;
        padding-top: 2vh;
    }

    .SearchPageQuoteCard-Author{
        font-family: "Vollkorn", serif;
        font-size: 2.5vh;
        min-height: 20%;
        width: fit-content;
        height: fit-content;
        max-height: 40%;
        margin-left: auto;
        margin-right: 10vw;
    }
    
}



@media (min-width: 768px) and (max-width: 1080px){

    .SearchPageQuoteCard-Card{
        height: 12vh;
    }

    .SearchPageQuoteCard-QuotesArea{
        width: 98vw;
        margin: auto;
        overflow: scroll;
        height: 69vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }   

    .SearchPageQuoteCard-Quote{
        font-size: 3vh;
        text-align: center;
        min-height: 30%;
        height: fit-content;
        max-height: 50%;
        padding-top: 2vh;
    }

    .SearchPageQuoteCard-Author{
        font-family: "Vollkorn", serif;
        font-size: 2.5vh;
        min-height: 20%;
        width: fit-content;
        height: fit-content;
        max-height: 40%;
        margin-left: auto;
        margin-right: 10vw;
    }
    
}


@media (min-width: 1081px) and (max-width: 1280px){

    .SearchPageQuoteCard-Card{
        height: 12vh;
    }

    .SearchPageQuoteCard-QuotesArea{    
        width: 98vw;
        margin: auto;
        overflow: scroll;
        height: 66vh;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }   

    .SearchPageQuoteCard-Quote{
        font-size: 3vh;
        text-align: center;
        min-height: 30%;
        height: fit-content;
        max-height: 50%;
        padding-top: 2vh;
    }

    .SearchPageQuoteCard-Author{
        font-family: "Vollkorn", serif;
        font-size: 2.5vh;
        min-height: 20%;
        width: fit-content;
        height: fit-content;
        max-height: 40%;
        margin-left: auto;
        margin-right: 10vw;
    }
    
}