.SearchBar-TextInput{
    width: inherit;
    height: inherit;
    font-size: 4vh;
    padding-left: 1vw;
    border: 2px solid beige;
    outline: none;
    margin-top: auto;
    border-radius: 15px;
    align-items: baseline;
    caret-color: #ffffffa0;
}

.SearchBar-TextInputDiv{
    width: 50vw;
    height: 7vh;
    margin: auto;
    margin-bottom: 6vh;
}

@media (max-width: 480px) and (orientation: portrait){
    body{
        background-color: red;
    }         
}