.SeachPageQuoteCardFullPageView-background{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
}

.SearchPageQuoteCardFullPageView-Card{
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 20vh;
    left: 15vw;
    background-color: #4d4646;
    border-radius: 2.5%;
    overflow-y: auto;
}

.SearchPageQuoteCardFullPageView-BackArrow{
    margin-left: 1vw;
    margin-top: 2vh;
    float: left;
    width: 3vw;
}

.SearchPageQuoteCardFullPageView-TimeStamp{
    /* margin-top: 2vh;
    width: fit-content;
    margin-right: 2vw;
    margin-left: auto; */
    position: fixed;
    bottom: 15vh;
    text-align: center;
    width: 20vw;
    /* position: relative;
    top: 30%;
    float: left;
    padding-left: 2vw;
    height: fit-content;
    padding-bottom: 5vh; */
}

.SearchPageQuoteCardFullPageView-Quote{
    height: fit-content;
    width: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 2vh 2vw 0 2vw;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: just_another_handregular;
    font-size: 5vh;
    line-height: 6vh;
}

.SearchPageQuoteCardFullPageView-DoubleQuotes{
    font-family: la_belle_auroreregular;
}

.SearchPageQuoteCardFullPageView-Author{
    font-family: just_another_handregular;
    font-size: 5vh;
    width: fit-content;
    margin-right: 15vw;
    margin-left: auto;   
}



.SearchPageQuoteCardFullPageView-Source{
    width: 15vw;
    height: fit-content;
    margin-right: 10vw;
    margin-left: auto;
    text-align: center;
}

.SearcPageQuoteCardFullPageView-EditIcon{
    position: relative;
    left: 55vw;
    margin-top: 2vh;
    width: 3vw;
}

.SearchPageQuoteCardFullPageView-Delete{
    position: relative;
    left: 57vw;
    margin-top: 2vh;
    width: 3vw;
}


.SearchPageQuoteCardFullPageView-favourite{
    position: fixed;
    bottom: 15vh;
    left: 75vw;
}

