.MenuBar{
    height: 10vh;
    
}

a{
   color: #f5f5dc;
   text-decoration: none; 
}

.MenuBarComponent{
    padding: 2vh 2vw 2vh 2vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.MenuBarContent{
    /* background-color: green; */
    text-align: center;

    
}