@import url("../fonts-webpack/hennypennieregular/stylesheet.css");
@import url("../fonts-webpack/kalam/stylesheet.css");
@import url("../fonts-webpack/reenlebeenieregular/stylesheet.css");

.header{

}

.headingText{
    font-family: 'henny_pennyregular';
    font-weight: 500;
    font-size: 7vh;
    margin-top: 5vh;
    text-decoration: underline;
    text-align: center;

    /* background-color: aliceblue; */  
}

.subHeadingText{
    font-family: 'kalamlight';
    font-size: 2vh;
    text-align: center;
    position: relative;
    bottom: 2vh;
    padding-left: 6vw;
}