
.QuoteForm{
    overflow-y: auto;
    overflow: auto;
    height: 60vh;
    width: inherit;
    margin: 0 3vh 3vh 3vh;
}

input,
input::placeholder{
    color: #faebd7;
}

.addAQuote{
    padding-top: 1vh;
    text-align: center;
    font-size: 5vh;
    color: beige;
    opacity: 85%;
    /* text-decoration: underline solid 4px ; */
    font-family: 'just_another_handregular';
    
}

.quoteDiv{
    height: fit-content;
}

.quoteLabel{
    width: 100%;
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quoteInput{
    width: 94%;
    height: fit-content;
    outline: none;
    font-size: 3vh;
}

.authorDiv{
    padding-top: 1vh;
    height: fit-content;
    width: 100%;

}
.authorLabel{
    width: 100%;
    height: fit-content;
    text-align: start;
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.authorInput{
    margin: auto;
    width: 94%;
    outline: none;
    font-size: 3vh;
}

.sourceDiv{
    padding-top: 1vh;
    height: fit-content;
    width: 34vw;
}

.sourceLabel{
    width: 34vw;
    text-align: start;
    font-size: 2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sourceInput{
    margin: auto;
    width: 94%;
    outline: none;
    font-size: 3vh;
}

.rating{
    width: 100%;
    padding-top: 2vh;
    display: flex;
}

.ratingStar{
    width: fit-content;
    margin-right: auto;
    margin-left: 6%;
    background-color: #2c2c2c;
}

.star{
    height: 5vh;
}

.ratingLabel{
    /* position: relative;
    bottom: 1.3vh; */
    padding: 0 1vw 0 0vw;
    width: fit-content;
    position: relative;
    top: 1.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh; 
}   

.submitButton{
    padding: 3vh;
    margin: auto;
    width: 9vw;
}

.submitButtonInputField{
    font-size: 3.65vh;
    height: fit-content;
    width: 9vw;
}


.ViewQuotes-BackArrow{
    width: 5vh;
    position:absolute;
    top: 8vh;
    left: 5vw;
    margin-right: auto;

}

.NoQuotesFound-Div{
    text-align: center;
    margin-top: 10%;
}

.NoQuotesFound-h2{
    opacity: 75%;
}

.NoQuotesFound-h5{
    opacity: 75%;
}

.ViewQuotesSwitch{
    height: 4vh;
    width: 30vw;
    margin-left: 3%;
    margin-right: auto;    
    display: flex;
}

.ViewQuotesSwitch-Content{
    /* background-color: green; */
    text-align: center;
    padding-right: 1vw;
    padding-left: 1vw;
        
}