.quoteCard{
    width: 20vw;
    height: 50vh;
    float: left;
    border: 2px solid #565656;
    margin-left: 5vh;
    margin-bottom: 2vh;
    border-radius: 2.5%;
    background-color: #2e2e2e;
}


.cardContent{
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.cardContent:hover{
    background-color: #4d4646;
}
.quote{
    margin: auto;
    width: fit-content;
    text-align: center;
    height: 30vh;
    font-family: just_another_handregular;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 42px ;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.author{
    height: 10vh;
    width: fit-content;
    margin-left: auto;
    font-family: just_another_handregular;
    font-size: 36px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.timeStamp{
    height: max-content;
    width: fit-content;
    margin-right: auto;
    padding-top: 2vh;
    padding-left: 1.5vw ;
    text-overflow: clip;
    text-align: center;
    float: left;
}

.favourite{
    margin-left: 5.5vw;
    margin-right: 1vw;

}

.heart{
    width: 3vw;
    margin-left: inherit;
}








/* @media screen and (max-width: 600px) {
    .quoteCard {
      width: 80%;
      display: block;
      margin-bottom: 20px;
    }
  } */