.quoteCard{
    width: 20vw;
    height: 50vh;
    float: left;
    border: 2px solid #565656;
    margin-left: 5vh;
    margin-bottom: 2vh;
    border-radius: 2.5%;
    background-color: #2e2e2e;
}


.cardContent{
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.cardContent:hover{
    background-color: #4d4646;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.quote{
    margin: auto;
    width: 18vw;
    text-align: center;
    height: 30vh;
    font-family: Vollkorn;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 36px ;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.author{
    height: 10vh;
    width: fit-content;
    margin-left: auto;
    font-family: just_another_handregular;
    font-size: 36px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.timeStamp{
    height: max-content;
    width: 70%;
    /* margin-right: auto; */
    padding-top: 2vh;
    padding-left: 1.5vw;
    text-overflow: clip;
    text-align: start;
    float: left;
}

.favourite{
    width: auto;
    /* margin-left: 5.5vw;g
    margin-right: 1vw; */
}

.heart{
    width: 3vw;
    margin-left: inherit;
}

.fullPageheart{
    width: 3vw;
    margin-left: inherit;
}


@media (max-width: 481px) and (orientation: portrait){
    .quoteCard{
        width: 82vw;
        height: 23vh;
        border: 2px solid #565656;
        margin-left: 6vw;
        margin-bottom: 3vh;
        border-radius: 2.5%;
        background-color: #2e2e2e;
    }

    .quote{
        margin: auto;
        width: 68vw;
        text-align: center;
        height: 13vh;
        font-family: Vollkorn;
        /* font-family: 'Courier New', Courier, monospace; */
        font-size: 24px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .author{
        height: 5vh;
        width: fit-content;
        margin-left: auto;
        font-family: just_another_handregular;
        font-size: 30px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .timeStamp{
        height: fit-content;
        width: 75%;
        text-align: start;
        float: left;
        padding-top: 1vh;
        padding-left: 1.5vh;
    }
    
    .favourite{
        width: auto;
    }
    
    .heart{
        width: 3vh;
        margin-left: inherit;
    }

    .fullPageheart{
        width: 5vh;
        margin-left: inherit;
    }
    
}


@media (min-width: 768px) and (max-width: 1294px){

    .quoteCard{
        width: 29vw;
        height: 40vh;
        float: left;
        border: 2px solid #565656;
        margin-left: 2vw;
        margin-bottom: 3vh;
        border-radius: 16px;
        background-color: #2e2e2e;
    }

    .quote{
        padding-top: 1vh;
        margin: auto;
        width: 27vw;
        text-align: center;
        height: 20vh;
        font-family: Vollkorn;
        /* font-family: 'Courier New', Courier, monospace; */
        font-size: 24px;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    
    .author{
        height: 13vh;
        width: fit-content;
        margin-left: auto;
        font-family: just_another_handregular;
        font-size: 30px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .timeStamp{
        height: fit-content;
        width: 65%;
        text-align: start;
        float: left;
        padding-top: 1vh;
        padding-left: 1.5vh;
    }
    
    .favourite{
        width: auto;
    }
    
    .heart{
        width: 4vh;
        margin-left: inherit;
    }

    .fullPageheart{
        width: 4vw;
        margin-left: inherit;
    }
    
}

/* Tablet Portrait */
@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait){
    .quoteCard{
        width: 40vw;
        height: 23vh;
        float: left;
        border: 2px solid #565656;
        margin-left: 5vw;
        margin-bottom: 3vh;
        border-radius: 2.5%;
        background-color: #2e2e2e;
    }

    .quote{
        margin: auto;
        width: 38vw;
        text-align: center;
        height: 13vh;
        font-family: Vollkorn;
        /* font-family: 'Courier New', Courier, monospace; */
        font-size: 24px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .author{
        height: 5vh;
        width: fit-content;
        margin-left: auto;
        font-family: just_another_handregular;
        font-size: 30px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .timeStamp{
        height: fit-content;
        width: 75%;
        text-align: start;
        float: left;
        padding-top: 1vh;
        padding-left: 1.5vh;
    }
    
    .favourite{
        width: auto;
    }
    
    .heart{
        width: 3vh;
        margin-left: inherit;
    }

    .fullPageheart{
        width: 5vh;
        margin-left: inherit;
    }
}



/* @media screen and (max-width: 600px) {
    .quoteCard {
      width: 80%;
      display: block;
      margin-bottom: 20px;
    }
  } */