
.QuoteFullPageCard-TransparentFullSizeBackground{
    background-color: transparent;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.QuoteFullPageCard-favourite{
    /* width: 3vw;
    height: 2vw;
    margin-left: auto;
    margin-right: 8vw;
    padding-bottom: 10vh;
    position: relative;  
    top: 22vh; */

    position: fixed;
    bottom: 15vh;
    left: 75vw;
}

.QuoteFullPageCard-Size{
    width: 70vw;
    height: 70vh;
    z-index: 1;
    position: fixed;
    top: 20vh;
    left: 15vw;
    background-color: #4d4646;
    border-radius: 2.5%;
    overflow-y: auto;
}

.QuoteFullPageCard-BackArrow{
    margin-left: 1vw;
    margin-top: 2vh;
    float: left;
    width: 3vw;
}

.QuoteFullPageCard-TimeStamp{
    margin-top: 2vh;
    width: fit-content;
    margin-right: 2vw;
    margin-left: auto;
}

.QuoteFullPageCard-Quote{
    height: fit-content;
    width: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 2vh 2vw 0 2vw;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: just_another_handregular;
    font-size: 5vh;
    line-height: 6vh;
}

.QuoteFullPageCard-DoubleQuotes{
    /* font-family: 'kalamlight'; */
    /* font-family: 'henny_pennyregular'; */
    font-family: la_belle_auroreregular;


}

.QuoteFullPageCard-Author{
    font-family: just_another_handregular;
    font-size: 5vh;
    width: fit-content;
    margin-right: 15vw;
    margin-left: auto;
    
}